<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artqiyi.tanqiu.game.mapper.GameBreakRecordsMapper">
  <resultMap id="BaseResultMap" type="com.artqiyi.tanqiu.game.domain.GameBreakRecords">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="game_model_id" jdbcType="BIGINT" property="gameModelId" />
    <result column="game_model_key" jdbcType="VARCHAR" property="gameModelKey" />
    <result column="game_no" jdbcType="VARCHAR" property="gameNo" />
    <result column="game_filed_name" jdbcType="VARCHAR" property="gameFiledName" />
    <result column="total_round" jdbcType="INTEGER" property="totalRound" />
    <result column="game_time" jdbcType="INTEGER" property="gameTime" />
    <result column="contest_num" jdbcType="INTEGER" property="contestNum" />
    <result column="pass_through_num" jdbcType="INTEGER" property="passThroughNum" />
    <result column="per_award" jdbcType="INTEGER" property="perAward" />
    <result column="game_status" jdbcType="SMALLINT" property="gameStatus" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, game_model_id, game_model_key, game_no, game_filed_name, total_round, game_time, 
    contest_num, pass_through_num, per_award, game_status, start_time, end_time, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.artqiyi.tanqiu.game.domain.GameBreakRecordsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from game_break_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from game_break_records
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from game_break_records
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.artqiyi.tanqiu.game.domain.GameBreakRecordsExample">
    delete from game_break_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.artqiyi.tanqiu.game.domain.GameBreakRecords">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into game_break_records (game_model_id, game_model_key, game_no, 
      game_filed_name, total_round, game_time, 
      contest_num, pass_through_num, per_award, 
      game_status, start_time, end_time, 
      create_time, update_time)
    values (#{gameModelId,jdbcType=BIGINT}, #{gameModelKey,jdbcType=VARCHAR}, #{gameNo,jdbcType=VARCHAR}, 
      #{gameFiledName,jdbcType=VARCHAR}, #{totalRound,jdbcType=INTEGER}, #{gameTime,jdbcType=INTEGER}, 
      #{contestNum,jdbcType=INTEGER}, #{passThroughNum,jdbcType=INTEGER}, #{perAward,jdbcType=INTEGER}, 
      #{gameStatus,jdbcType=SMALLINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.artqiyi.tanqiu.game.domain.GameBreakRecords">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into game_break_records
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameModelId != null">
        game_model_id,
      </if>
      <if test="gameModelKey != null">
        game_model_key,
      </if>
      <if test="gameNo != null">
        game_no,
      </if>
      <if test="gameFiledName != null">
        game_filed_name,
      </if>
      <if test="totalRound != null">
        total_round,
      </if>
      <if test="gameTime != null">
        game_time,
      </if>
      <if test="contestNum != null">
        contest_num,
      </if>
      <if test="passThroughNum != null">
        pass_through_num,
      </if>
      <if test="perAward != null">
        per_award,
      </if>
      <if test="gameStatus != null">
        game_status,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameModelId != null">
        #{gameModelId,jdbcType=BIGINT},
      </if>
      <if test="gameModelKey != null">
        #{gameModelKey,jdbcType=VARCHAR},
      </if>
      <if test="gameNo != null">
        #{gameNo,jdbcType=VARCHAR},
      </if>
      <if test="gameFiledName != null">
        #{gameFiledName,jdbcType=VARCHAR},
      </if>
      <if test="totalRound != null">
        #{totalRound,jdbcType=INTEGER},
      </if>
      <if test="gameTime != null">
        #{gameTime,jdbcType=INTEGER},
      </if>
      <if test="contestNum != null">
        #{contestNum,jdbcType=INTEGER},
      </if>
      <if test="passThroughNum != null">
        #{passThroughNum,jdbcType=INTEGER},
      </if>
      <if test="perAward != null">
        #{perAward,jdbcType=INTEGER},
      </if>
      <if test="gameStatus != null">
        #{gameStatus,jdbcType=SMALLINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.artqiyi.tanqiu.game.domain.GameBreakRecordsExample" resultType="java.lang.Long">
    select count(*) from game_break_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update game_break_records
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gameModelId != null">
        game_model_id = #{record.gameModelId,jdbcType=BIGINT},
      </if>
      <if test="record.gameModelKey != null">
        game_model_key = #{record.gameModelKey,jdbcType=VARCHAR},
      </if>
      <if test="record.gameNo != null">
        game_no = #{record.gameNo,jdbcType=VARCHAR},
      </if>
      <if test="record.gameFiledName != null">
        game_filed_name = #{record.gameFiledName,jdbcType=VARCHAR},
      </if>
      <if test="record.totalRound != null">
        total_round = #{record.totalRound,jdbcType=INTEGER},
      </if>
      <if test="record.gameTime != null">
        game_time = #{record.gameTime,jdbcType=INTEGER},
      </if>
      <if test="record.contestNum != null">
        contest_num = #{record.contestNum,jdbcType=INTEGER},
      </if>
      <if test="record.passThroughNum != null">
        pass_through_num = #{record.passThroughNum,jdbcType=INTEGER},
      </if>
      <if test="record.perAward != null">
        per_award = #{record.perAward,jdbcType=INTEGER},
      </if>
      <if test="record.gameStatus != null">
        game_status = #{record.gameStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update game_break_records
    set id = #{record.id,jdbcType=BIGINT},
      game_model_id = #{record.gameModelId,jdbcType=BIGINT},
      game_model_key = #{record.gameModelKey,jdbcType=VARCHAR},
      game_no = #{record.gameNo,jdbcType=VARCHAR},
      game_filed_name = #{record.gameFiledName,jdbcType=VARCHAR},
      total_round = #{record.totalRound,jdbcType=INTEGER},
      game_time = #{record.gameTime,jdbcType=INTEGER},
      contest_num = #{record.contestNum,jdbcType=INTEGER},
      pass_through_num = #{record.passThroughNum,jdbcType=INTEGER},
      per_award = #{record.perAward,jdbcType=INTEGER},
      game_status = #{record.gameStatus,jdbcType=SMALLINT},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.artqiyi.tanqiu.game.domain.GameBreakRecords">
    update game_break_records
    <set>
      <if test="gameModelId != null">
        game_model_id = #{gameModelId,jdbcType=BIGINT},
      </if>
      <if test="gameModelKey != null">
        game_model_key = #{gameModelKey,jdbcType=VARCHAR},
      </if>
      <if test="gameNo != null">
        game_no = #{gameNo,jdbcType=VARCHAR},
      </if>
      <if test="gameFiledName != null">
        game_filed_name = #{gameFiledName,jdbcType=VARCHAR},
      </if>
      <if test="totalRound != null">
        total_round = #{totalRound,jdbcType=INTEGER},
      </if>
      <if test="gameTime != null">
        game_time = #{gameTime,jdbcType=INTEGER},
      </if>
      <if test="contestNum != null">
        contest_num = #{contestNum,jdbcType=INTEGER},
      </if>
      <if test="passThroughNum != null">
        pass_through_num = #{passThroughNum,jdbcType=INTEGER},
      </if>
      <if test="perAward != null">
        per_award = #{perAward,jdbcType=INTEGER},
      </if>
      <if test="gameStatus != null">
        game_status = #{gameStatus,jdbcType=SMALLINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.artqiyi.tanqiu.game.domain.GameBreakRecords">
    update game_break_records
    set game_model_id = #{gameModelId,jdbcType=BIGINT},
      game_model_key = #{gameModelKey,jdbcType=VARCHAR},
      game_no = #{gameNo,jdbcType=VARCHAR},
      game_filed_name = #{gameFiledName,jdbcType=VARCHAR},
      total_round = #{totalRound,jdbcType=INTEGER},
      game_time = #{gameTime,jdbcType=INTEGER},
      contest_num = #{contestNum,jdbcType=INTEGER},
      pass_through_num = #{passThroughNum,jdbcType=INTEGER},
      per_award = #{perAward,jdbcType=INTEGER},
      game_status = #{gameStatus,jdbcType=SMALLINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>