@charset "utf-8";
/* -------------------------------------------------
 * reset
 * -------------------------------------------------
*/
html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 12px/1.5 Helvetica, Arial, sans-serif;
	background-color: #fff;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	text-align: center;
	color: #404040;
}

h1,h2,h3,h4,h5,h6,p,figure {
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,select,label {
	vertical-align: middle;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #3774cc;
}

a:hover {
	color: #3774cc;
}

blockquote,form,fieldset {
	margin: 0 0 18px 0;
}
/* hn */
h1 {
	font-size: 18px;
	line-height: 36px;
}

h2 {
	font-size: 16px;
	line-height: 30px;
}

h3 {
	font-size: 14px;
	line-height: 24px;
}

h4,h5,h6 {
	font-size: 12px;
}
/* ul ol dl */
ul,li {
	margin: 0;
	padding: 0;
}

ol {
	margin: 0 0 18px 0;
	padding: 0;
}

ul.has-style li,ol li {
	margin-left: 25px;
}

ol li {
	list-style: decimal;
}

ul.nostyle {
	list-style: none outside none;
	margin-bottom: 0;
}

ul.inline-style {
	list-style: none outside none;
	margin-bottom: 0;
}

ul.inline-style li {
	float: left;
	display: inline;
}

dl {
	margin-bottom: 18px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 0 9px;
	padding: 0;
}
/* html5 */
article,aside,dialog,figure,footer,header,hgroup,nav,section {
	display: block;
}
/* clearfix */
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
	overflow: hidden;
}

.clearfix {
	zoom: 1;
}

@charset "utf-8";
/* -------------------------------------------------
 * form
 * -------------------------------------------------
*/
form {
	margin-bottom: 18px;
	font-size: 13px;
}

textarea {
	resize: none;
	vertical-align: top;
	overflow: auto;
	font: 12px/1.5 Helvetica, Arial, sans-serif;
	width: 500px;
	height: 80px;
}

.form-text {
	margin: 0;
	font: 12px/1.5 Helvetica, Arial, sans-serif;
	height: 18px;
	width: 200px;
}

.form-text,textarea,select {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	padding: 4px;
}

.form-text,textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-text:focus,textarea:focus,select {
	outline: 0 none;
}

.form-text:focus,textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.form-radio,.form-checkbox {
	margin: 0;
	padding: 0;
	width: 13px;
	height: 13px;
	font-size: 13px;
}

:-moz-placeholder,::-webkit-input-placeholder {
	color: #bfbfbf;
}
/* form-item */
.form-item {
	margin-bottom: 9px;
}
/* horizontal form label */
.form-horizontal label {
	float: left;
	text-align: right;
	font-weight: 500;
	width: 100px;
	font-size: 12px;
	line-height: 19px;
}

.form-horizontal .form-field {
	float: left;
}

.form-horizontal .form-action,.form-horizontal .item-no-label {
	padding-left: 100px; /*label width*/
}
/* vertical form label */
.form-vertical label {
	display: block;
	float: none;
	width: auto;
	text-align: left;
	margin-bottom: 5px;
}

.form-vertical .form-field {
	float: none;
}

.form-vertical .form-action,.form-vertical .item-no-label {
	padding-left: 0;
}
/* field-list */
.form-radio-checkbox-wrap .form-field label {
	text-align: left;
	width: auto;
	font-weight: normal;
	margin: 0 10px 0 0;
	float: left;
	display: inline;
}

.form-radio-checkbox-wrap .form-field .field-list-block {
	display: block;
	float: none;
	margin-right: 0;
	overflow: auto;
	*zoom: 1;
}

.form-radio-checkbox-wrap .form-radio,.form-radio-checkbox-wrap .form-checkbox,.form-radio-checkbox-wrap span
	{
	float: left;
	display: inline;
}

.form-radio-checkbox-wrap .form-radio,.form-radio-checkbox-wrap .form-checkbox
	{
	margin-right: 5px;
	margin-top: 3px;
}
/* form-action */
.form-action {
	clear: both;
}

.submit-wrap {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.submit-btn {
	border: 0 none;
	height: 26px;
	margin: 0;
	background: none;
	overflow: visible;
	padding: 0 10px;
	cursor: pointer;
}

@
-moz-document url-prefix        (){ .submit-btn {
	padding-bottom: 3px;
}

}
/* description */
.form-des {
	color: #bfbfbf;
	font-size: 12px;
	margin-left: 5px;
}

p.form-des {
	margin: 0;
}
/* codePic */
.code-pic {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.code-pic img {
	height: 28px;
	vertical-align: middle;
	margin: 0 5px;
}
/* tips messages */
.form-error,.form-alert,.form-notice,.form-success,.form-info {
	border: 2px solid #DDDDDD;
	margin-bottom: 9px;
	padding: 8px;
	font-size: 12px;
}
/* span inline tips */
span.form-error,span.form-alert,span.form-notice,span.form-success,span.form-info
	{
	border-width: 1px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 26px;
	vertical-align: middle;
	padding: 0 5px;
	font-size: 12px;
	margin: 0 0 0 5px;
}

.form-error,.form-alert {
	background: none repeat scroll 0 0 #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}

.form-notice {
	background: none repeat scroll 0 0 #FFF6BF;
	border-color: #FFD324;
	color: #514721;
}

.form-info {
	background: none repeat scroll 0 0 #D5EDF8;
	border-color: #92CAE4;
	color: #205791;
}

.form-success {
	background: none repeat scroll 0 0 #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}

.form-error a,.form-alert a,.form-notice a,.form-info a,.form-success a
	{
	text-decoration: none;
}

.form-error a,.form-alert a {
	color: #8A1F11;
}

.form-notice a {
	color: #514721;
}

.form-info a {
	color: #205791;
}

.form-success a {
	color: #264409;
}
/* clear form-item float */
.form-item:before,.form-item:after {
	content: "";
	display: table;
}

.form-item:after {
	clear: both;
	overflow: hidden;
}

.form-item {
	zoom: 1;
	clear: both;
	margin-bottom: 9px;
}

@charset "utf-8";
/* gradient */
.greenbtn {
	border: 1px solid #467d01;
	box-shadow: inset 0 1px 1px #fff, 0 0 1px #fff inset;
	color: #fff;
	/* text-shadow:0 -1px 0 rgba(0,0,0,0.5); */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxZDEyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZThiMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #91d125 0%, #4e8b02 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91d125),
		color-stop(100%, #4e8b02) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #91d125 0%, #4e8b02 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #91d125 0%, #4e8b02 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #91d125 0%, #4e8b02 100%);
	/* IE10+ */
	background: linear-gradient(top, #91d125 0%, #4e8b02 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#91d125',
		endColorstr='#4e8b02', GradientType=0 ); /* IE6-8 */
	*background: #4e8b02; /* Old browsers */
}

.redbtn {
	border: 1px solid #a40000;
	box-shadow: inset 0 1px 1px #fff, 0 0 1px #fff inset;
	color: #fff;
	/* text-shadow:0 -1px 0 rgba(0,0,0,0.5); */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ff3333 0%, #a40000 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3333),
		color-stop(100%, #a40000) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3333 0%, #a40000 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff3333 0%, #a40000 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff3333 0%, #a40000 100%);
	/* IE10+ */
	background: linear-gradient(top, #ff3333 0%, #a40000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#ff3333',
		endColorstr='#a40000', GradientType=0 ); /* IE6-8 */
	*background: #a40000; /* Old browsers */
}

.bluebtn {
	border: 1px solid #196EBB;
	box-shadow: inset 0 1px 1px #fff, 0 0 1px #fff inset;
	color: #fff;
	/* text-shadow:0 -1px 0 rgba(0,0,0,0.5); */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczYzJmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZThjZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #73c2fd 0%, #2e8ce3 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73c2fd),
		color-stop(100%, #2e8ce3) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #73c2fd 0%, #2e8ce3 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #73c2fd 0%, #2e8ce3 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #73c2fd 0%, #2e8ce3 100%);
	/* IE10+ */
	background: linear-gradient(top, #73c2fd 0%, #2e8ce3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#73c2fd',
		endColorstr='#2e8ce3', GradientType=0 ); /* IE6-8 */
	*background: #2e8ce3; /* Old browsers */
}

.orangebtn {
	border: 1px solid #b05903;
	box-shadow: inset 0 1px 1px #fff, 0 0 1px #fff inset;
	color: #fff;
	/* text-shadow:0 -1px 0 rgba(0,0,0,0.5); */
	background: #ffcc00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdlMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffcc00 0%, #ff7e00 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcc00),
		color-stop(100%, #ff7e00) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffcc00 0%, #ff7e00 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffcc00 0%, #ff7e00 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffcc00 0%, #ff7e00 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffcc00 0%, #ff7e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#ffcc00',
		endColorstr='#ff7e00', GradientType=0 ); /* IE6-8 */
	*background: #ffcc00;
}

.greybtn {
	border: 1px solid #ccc;
	color: #666;
	/* text-shadow:0 -1px 0 rgba(0,0,0,0.5); */
	box-shadow: inset 0 1px 1px #fff, 0 0 1px #fff inset;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #e5e5e5) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0 ); /* IE6-8 */
	*background: #e5e5e5; /* Old browsers */
}

.greybtn:hover {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjM2MxYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ececec 0%, #c3c1c1 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec),
		color-stop(100%, #c3c1c1) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ececec 0%, #c3c1c1 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ececec 0%, #c3c1c1 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ececec 0%, #c3c1c1 100%);
	/* IE10+ */
	background: linear-gradient(top, #ececec 0%, #c3c1c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#ececec',
		endColorstr='#c3c1c1', GradientType=0 ); /* IE6-8 */
	*background: #c3c1c1;
}

.blackbtn {
	border: 1px solid #4c4c4c;
	box-shadow: inset 0 1px 1px #fff, 0 0 1px #fff inset;
	color: #fff;
	/* text-shadow:0 -1px 0 rgba(0,0,0,0.5); */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzg4ODc4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzJiMmIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #888787 6%, #2b2b2b 95%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #888787),
		color-stop(95%, #2b2b2b) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #888787 6%, #2b2b2b 95%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #888787 6%, #2b2b2b 95%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #888787 6%, #2b2b2b 95%);
	/* IE10+ */
	background: linear-gradient(top, #888787 6%, #2b2b2b 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#888787',
		endColorstr='#2b2b2b', GradientType=0 ); /* IE6-8 */
	*background: #2b2b2b;
}

:root .greenbtn,:root .redbtn,:root .bluebtn,:root .orangebtn,:root .greybtn,:root .blackbtn
	{
	filter: none;
}
/* btn */
.btn {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 16px;
	line-height: 30px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
	cursor: pointer;
}

.smallbtn {
	line-height: 18px;
	padding: 0 5px 0;
	font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.largebtn {
	line-height: 40px;
	font-size: 18px;
	padding: 0 40px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

@charset "utf-8";

.form-horizontal label {
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	text-align: right;
	width: 100px;
}

.form-field {
	float: left;
}

.form-action {
	padding-left: 100px;
}

.form-text {
	width: 150px;
}
/*验证提示字段*/
.form-field {
	position: relative;
}

.form-field label.error {
	position: absolute;
	left: 165px;
	top: 0;
	color: #f00;
	width: 300px;
	text-align: left;
	overflow: auto;
}

.warn {
	padding: 10px 10px 10px 42px;
	zoom: 1;
	border: 2px solid #ffc436;
	border-radius: 5px;
	background: url(../images/tips.gif) 8px 5px no-repeat;
	background-color: #ffeaa7;
}

.wrong,.failure {
	padding: 10px 10px 10px 42px;
	zoom: 1;
	border: 2px solid #e65343;
	border-radius: 5px;
	background: url(../images/tips.gif) 7px -356px no-repeat;
	background-color: #fbcac5;
}

.success {
	padding: 10px 10px 10px 42px;
	zoom: 1;
	border: 2px solid #9fc50d;
	border-radius: 5px;
	background: url(../images/tips.gif) 7px -200px no-repeat;
	background-color: #effebb;
}

body {
	font-family: "微软雅黑 ";
	font-size: 14px;
}

#foot {
	clear: both;
	font-size: 12px;
	padding: 10px 0 20px;
}

#foot p {
	margin: 10px 0;
}

#foot p span.author a,#foot p span.about a {
	text-decoration: none;
}

.doc {
	margin: 0 auto;
	background-color: #e8e8e8;
}

/*分页*/
.pager {
	margin: 15px 0;
	text-align: center;
}

.pager a {
	border: 1px solid #d6d6d5;
	height: 24px;
	line-height: 24px;
	color: #3774cc;
	font-weight: bold;
	background-color: #fff;
	text-align: center;
	margin: 0 5px;
	padding: 0 8px;
	display: inline-block;
}

.pager a.curr,.pager a:hover {
	color: #fff;
	background-color: #3774cc;
}

.pager span {
	display: inline-block;
	text-align: center;
	margin: 0 2px;
	padding: 0 8px;
}

.pager .prev {
	margin-left: 0;
}

.pager .next {
	margin-right: 0;
}

/*顶部导航*/
.nav_top {
	color: #fff;
	min-height: 41px;
	line-height: 41px;
	border-bottom: 1px solid #3a4556;
	background: url(../images/top_bg.png) repeat-x 0 0;
	overflow: hidden;
	background-size: 100% 100%;
	width: 100%;
	overflow: visible;
	position: fixed;
	top: 0px;
	_position: absolute;
	_top: expression(documentElement.scrollTop +               "px");
	z-index: 9999;
}

.nav_top a {
	color: #fff;
}

.nav_top .logo {
	height: 41px;
	padding-left: 10px;
	font-size: 30px;
	font-weight: bold;
}

.nav_top .top_info {
	float: right;
	height: 41px;
	font-size: 14px;
}

.nav_top .left_top_info {
	float: left;
	height: 41px;
	font-size: 14px;
}

.nav_top .top_info a {
	text-decoration: none;
}

.nav_top .top_info .top_info_item {
	float: left;
	display: inline;
	margin-right: 20px;
}

/*选择应用*/
.appSboxDiv {
	width: 98%;
	min-height: 300px;
	margin: 10px;
	
}
/*登录页*/
.login_page {
	background: url(../images/glow.png) no-repeat center center #2D5EA4;
}

.login_page .doc {
	background-color: transparent;
}

.login_box {
	margin: 0px auto;
	color: #fff;
}

.login_box .slogo {
	font-size: 40px;
	padding-top: 100px;
	line-height: 120px;
}

.login_box .login_form {
	width: 360px;
	margin: 0 auto;
}

.login_page #foot {
	color: #fff;
}

.login_page #foot a {
	color: #fff;
	text-decoration: none;
}

.h_line {
	margin: 100px 0;
}

.login_form  .form-action {
	text-align: left;
}

.login_form  .submit-btn {
	padding: 0 60px;
	height: 35px;
}

/*首页*/
.front_page {
	background-color: #000;
}

.front_page .doc {
	width: 100%;
	background: url(../images/amm_bg.jpg) no-repeat top left #000;
}

.front_page .nav_top {
	height: 69px;
	line-height: 69px;
	background: url(../images/top_bg.png) repeat-x left bottom #3877d0;
}

.front_page .nav_top .nav_box {
	width: 980px;
	margin: 0 auto;
}

.front_page #foot {
	color: #fff;
}

.front_page #foot a {
	color: #fff;
	text-decoration: none;
}

.front {
	width: 1024px;
	margin: 50px auto;
	height: 450px;
}

.front .hd {
	font-size: 24px;
	text-align: left;
	text-indent: 30px;
	padding: 20px;
}

.menus .menu_item {
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 8px;
	margin-bottom: 8px
}

.menus .menu_item .menu_link {
	display: inline-block;
	width: 134px;
	height: 150px;
}

.menus .menu_item .menu_link:hover {
	background-color: #ccff66;
	font-size: 16px;
}

.menus .menu_item .menu_app {
	background: url(../images/ico_big_mnt.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .menu_run {
	background: url(../images/ico_big_run.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .menu_res {
	background: url(../images/ico_big_res.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .menu_rpt {
	background: url(../images/ico_big_rpt.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .menu_sys {
	background: url(../images/ico_big_acc.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .menu_cfg {
	background: url(../images/ico_big_cfg.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .menu_plg {
	background: url(../images/ico_big_plg.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .menu_arm {
	background: url(../images/ico_big_arm.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .menu_chk {
	background: url(../images/ico_big_chk.png) no-repeat center center
		#a8d44e;
}

.menus .menu_item .disable,.menus .menu_item .disable:hover {
	background-color: #b2b2b2;
	cursor: default;
}

.menus .menu_link .menu_n {
	position: absolute;
	display: inline-block;
	width: 130px;
	bottom: 10px;
	left: 0;
	text-align: center;
	font-weight: bold;
	color: #000;
}

/*BEGIN 模块页面*/
#module {
	height: 25px;
	padding: 10px 30px;
	line-height: 25px;
	font-size: 14px;
	overflow: hidden;
	margin-top: 41px;
}

#module .module_opt {
	display: inline-block;
	float: left;
	margin-right: 20px;
}

#module .module_name {
	margin-right: 20px;
}

#module .form-item {
	width: 100px;
}

#module .form-item select {
	margin-top: -4px;
	*margin-top: 0px;
	_margin-top: 4px;
}

#module  .btn {
	line-height: 28px;
}

#module .module_opt label {
	float: left;
	width: 80px;
	line-height: 36px;
	margin-right: 10px;
	font-size: 14px;
}

.module_name {
	padding-left: 35px;
	font-size: 16px;
	font-weight: bold;
}

.ico_rpt {
	background: url(../images/ico_small_rpt.png) no-repeat 0 0;
}

.ico_plg {
	background: url(../images/ico_small_plg.png) no-repeat 0 0;
}

.ico_cfg {
	background: url(../images/ico_small_cfg.png) no-repeat 0 0;
}

.ico_sys {
	background: url(../images/ico_small_acc.png) no-repeat 0 0;
}

.ico_run {
	background: url(../images/ico_small_run.png) no-repeat 0 0;
}

.ico_res {
	background: url(../images/ico_small_res.png) no-repeat 0 0;
}

.ico_app {
	background: url(../images/ico_small_mnt.png) no-repeat 0 0;
}

.ico_user {
	background: url(../images/ico_small_psn.png) no-repeat 0 0;
}

.ico_abt {
	background: url(../images/ico_small_abt.png) no-repeat 0 0;
}

.ico_arm {
	background: url(../images/ico_small_arm.png) no-repeat 0 0;
}

.ico_chk {
	background: url(../images/ico_small_chk.png) no-repeat 0 0;
}

#main {
	background-color: #fff;
	padding: 0 0 20px 0;
	min-height: 600px; 
	_height: 400px;
	_overflow-y: auto;
}

.module_sub {
	overflow: hidden;
	height: 39px;
	padding-left: 65px;
	font-size: 14px; /*border:1px solid #d3d1d1;*/
	background: url(../images/tab_bg.png) repeat-x; /*overflow:hidden;*/
}

.module_sub .tab_link {
	color: #000;
	margin-top: 3px;
	padding: 5px 10px 0;
	display: inline-block;
	height: 27px;
}

.module_sub .module_tab {
	float: left;
	display: block; /*height:35px;*/
	margin: 4px 40px 0 0;
}

.module_sub .curr {
	background: #fff;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #c6c6c4;
	background: #a8d44e;
}

.module_sub .curr .tab_link {;
	background: #fff;
	font-weight: bold;
}

.more_opt {
	margin: 5px;
	text-align: left;
	padding-left: 30px;
}

.table_fixed {
	table-layout: fixed;
	width: 100%;
}

.table_fixed  th,.table_fixed td {
	text-align: center;
	height: 30px;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #d6d6d5;
	border-bottom: 1px solid #d6d6d5;
	word-wrap: break-word;
	word-break: break-all;
}

.table_fixed  thead th {
	height: 40px;
	background: url(../images/sep.png) no-repeat left center;
	font-weight: bold;
}

.table_fixed  thead th:first-child {
	background: none;
}

.table_fixed  .edit,.table_fixed  .del {
	display: inline-block;
	margin: 0 5px;
	padding: 3px 5px;
}

.table_fixed  .edit:hover,.table_fixed  .del:hover {
	background-color: #3774cc;
	color: #fff;
}

.light_n {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/normal.png) no-repeat 0 0;
}

.light_w {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/warn.png) no-repeat 0 0;
}
/*END 模块页面*/

/*用户资料填写*/
.form_box {
	padding-bottom: 100px;
}

.user_form {
	width: 350px;
	margin: 100px auto 0;
}

.user_form  .form-action {
	text-align: left;
}

/* 选择应用 */
.appe {
	margin: 5px
}

.appSelt,.appe:hover {
	cursor: pointer;
	background-color: #9f9f9f;
}

.appeHover {
	cursor: pointer;
	background-color: #9f9f9f;
}

.about_page {
	background: url(../images/glow.png) no-repeat center center #2D5EA4;
}

/* 操作提示   */
.vtip {
	height: 15px;
	width: 400px;
	color: red;
	text-align: center;
	margin-bottom: 20px;
	display: none;
}

/* 设置表格的最小高度     */
.table_wrapper {
	min-height: 380px;
}

.table_wrapper .mhd {
	min-height: 32px;
	vertical-align: middle;
	line-height: 30px;
}

/* 分页    */
.pager .pagerSl {
	color: #fff;
	background-color: #3774cc;
}

/* 监控中心时间查询  记录定位  */
.rightRow {
	color: red;
	font-weight: bold;
}

/* 顶部导航菜单  */
.topMenuItem {
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* 顶部导航菜单  */
.topseacherMenu {
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #E6E6E6;
}

/* 导航栏搜索框*/
.appSearchTip {
	position: absolute;
	top: 100px;
	left: 100px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #DDD;
	background: #E6E6E6;
	opacity: 1;
	color: #000;
	padding: 10px;
	width: 160px;
	font-size: 14px;
	z-index: 120;
	display: block;
}

/* 菜单定制 */
.menutip {
	position: absolute;
	top: 100px;
	left: 10px;
	-moz-border-radius: 3px;
	background: #F8F8F8;
	opacity: 1;
	color: #000;
	padding: 10px;
	font-size: 14px;
	z-index: 120;
	display: block;
	border: 2px solid #eee;;
}

.menutip li {
	overflow: hidden;
	line-height: 24px;
}

.menutip .form-checkbox {
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}

.menutip .li {
	color: #3F68BE;
	margin-right: 5px;
	padding-right: 5px;
	padding-left: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
	float: left;
}

.menutip .li:hover {
	background-color: #9f9f9f;
}

/*倒三角*/
.top_info_item .caret_up {
	margin-top: 20px;
	margin-left: 0px;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 5px solid #F3F3F3;
	border-right: 5px solid rgba(245, 245, 245, 0);
	border-left: 5px solid transparent;
}
/*正三角*/
.top_info_item .caret_down {
	margin-top: 20px;
	margin-left: 0px;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-bottom: 5px solid #F3F3F3;
	border-right: 5px solid rgba(245, 245, 245, 0);
	border-left: 5px solid transparent;
}

/* 顶部导航菜单  鼠标经过  */
.top_info .topMenuItem:hover {
	background-color: #003366;
}

.topMenuItemhover {
	background-color: #003366;
}

/* 首页 */
.logo_box {
	position: relative;
	text-align: center;
	padding: 80px 0 3px;
}

.logo_box .opt {
	position: absolute;
	right: 10px;
	top: 8px;
}

.logo_box .opt .u-name {
	color: #000;
	font-weight: bold;
}

.logo_box .opt .u-name:hover {
	text-decoration: underline;
}

.logo_box .opt .exit-pic {
	width: 35px;
	height: 35px;
}

/* 模块里功能导航条鼠标经过   */
.module_sub .hover {
	background: #a8d44e;
}

.module_sub .hover .tab_link {
	background: url(../images/tab_bg.png) repeat-x left bottom;
}

/* IE支持  placeholder */
.input_placeholder {
	color: #CCC;
}

/* 监控   标识过期记录*/
.oldData {
	color: red;
	font-weight: bold;
}

/* 用于前端表格内容过滤的样式   与filterInTable函数 (amm-all.js)  共同使用 */
.hiden_row {
	display: none;
}

/* 用于隐藏系统Q&t */
.sys_qt {
	display: none;
}

/* 右边工具栏  显示检索 帮助工具等  */
.right_toolbar {
	float: right;
	padding: 1px 10px 3px 0px;
}

/***************
 amm自定义主键样式 
 
 *************/
/* 输入项演示*/
.field {
	width: 150px;
}

/* 新创建表单样式*/
._Cform {
	width: 350px;
}

/* 表单中输入项的label */
.fLabel {
	text-align: right;
}

/* 突出显示 */
.ost {
	font-weight: bolder;
}

/*行标记效果 */
.rowHover {
	background-color: #FFFFCC;
}

.rowOst {
	background-color: #FFCC66;
}

/** 圆角  **/
.round_item {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/** 视图页全局div  **/
.chart_body {
	
}

/** 视图 IP栏样式 **/
.chart_ipItem {
	display: block;
}

.chart_ipItem:hover {
	cursor: pointer;
}

/** 选择菜单 **/
.item_selected {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #999999
}

/**  视图页左栏  */
.chart_left {
	display: inline;
	float: left;
	height: 600px;
	width: 18%;
	text-align: left;
	border-right: 1px solid gray;
	overflow-x: hidden;
	overflow-y: auto;
}

/** 视图页主栏  **/
.chart_main {
	display: inline;
	float: left;
	max-height: 550px;
	width: 80%;
	text-align: left;
	overflow-x: hidden;
	overflow-y: auto;
}

/** 用于渲染当个chart的div样式  */
.chart_one {
	margin-top: 20px;
	min-width: 600px;
	height: 400px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.chart_top_tool {
	float: right;
	margin-right: 50px;
	margin-bottom: 10px;
}

/*拓扑图Div*/
.topoRoot {
	float: left;
	display: inline;
	margin-right: 50px;
	width: 80%;
	background-color: #E0E0E0;
	margin: 20px;
}

.errorTopo {
	float: left;
	display: inline;
	margin-right: 50px;
	width: 80%;
	background-color: #E0E0E0;
	margin: 20px;
}

.appTopo {
	float: left;
	display: inline;
	width: 80%;
	background-color: #E0E0E0;
	margin: 20px;
}

.catalog {
	margin-left: 10px;
	margin-right: 10px;
}

.catalog:hover {
	background-color: #ACACAC;
}

.rolePar {
	background: url(../images/rolePar.jpg)  no-repeat right  #fff;;
	border: 1px solid #888786;
	padding: 0 22px 0 5px;
	color: #000000 !important;
	margin-right: 5px;
	white-space:nowrap;
	cursor :pointer;
}